.list {
  background: var(--dark);
  position: relative;
  margin: 0;
  padding: 0;
  display: none;
  width: var(--list-width);
  list-style: none;
  overflow: hidden auto;
  ul {
    list-style: none;
    padding: 0;
  }
  &.active {
    display: block;
  }
  &.full {
    width: auto;
  }
  > .list-group {
    > .list-group-name {
      display: block;
      margin: 5px 0;
      font-weight: bold;
    }
    > .list-group-files {
      > li {
        white-space: pre;
        &.active {
          background: blue;
        }
        &.is-dir {
          color: lime;
        }
        &.is-image {
          color: aqua;
        }
        &.is-video {
          color: orange;
        }
        &:not(.is-unknown, .active):hover {
          text-decoration: underline;
          cursor: pointer;
        }
      }
    }
  }

  > .list-top {
    position: sticky;
    top: 0;
    background: black;
    > ul > .list-top-buttons {
      display: flex;
      justify-content: right;
      gap: 5px;
    }
  }
  > .list-bottom {
    position: sticky;
    bottom: 0;
    background: black;
  }
}
