:root {
  --dark: #15191a;
  --white: #f2f0ed;
  --list-width: 300px;
}

body {
  margin: 0;
  background-color: var(--dark);
  color: var(--white);
}
* {
  box-sizing: border-box;
}
textarea.auto-height {
  resize: none;
  overflow: hidden;
  min-height: 16px;
  max-height: 100px;
}

#root {
  display: flex;
  justify-content: right;
}

#viewer {
  position: fixed;
  width: calc(100% - var(--list-width));
  top: 0;
  left: 0;
  height: 100vh;
  overflow: hidden;
  &.full {
    width: 100vw;
  }
}

.prev,
.next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: black;
  border: 2px solid orange;
  padding: 80px 30px;
  color: white;
  opacity: 0;
  &:hover {
    opacity: 1;
  }
}
.prev {
  left: 0;
}
.next {
  right: 0;
}

#explorer {
  background: #191970;
  .list-fuller,
  .list-group-name {
    display: none;
  }
}

.a {
  cursor: pointer;
}

.x {
  font-family: monospace;
  font-size: large;
  &[data-sign]::before {
    content: attr(data-sign);
  }
  &::before {
    content: "x";
  }
}
.small {
  font-size: small;
}
.auto-hide {
  opacity: 0;
  &:hover {
    opacity: 1;
  }
}
.fly-right {
  position: absolute;
  top: -5px;
  right: -5px;
}