.list-opener {
  background: yellow;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
}

.list {
  background: var(--dark);
  position: relative;
  height: 100vh;
  margin: 0;
  width: 0;
  padding: 0;
  list-style: none;
  ul {
    list-style: none;
    padding: 0;
  }
  &.active {
    width: var(--list-width);
    overflow: hidden auto;
  }
  > .list-group {
    > .list-group-name {
      display: block;
      margin: 5px 0;
      font-weight: bold;
    }
    > .list-group-files {
      > li {
        white-space: pre;
        &.active {
          background: blue;
        }
        &.is-dir {
          color: lime;
        }
        &.is-image {
          color: aqua;
        }
        &.is-video {
          color: orange;
        }
        &:not(.is-unknown, .active):hover {
          text-decoration: underline;
          cursor: pointer;
        }
      }
    }
  }

  > .list-top {
    position: sticky;
    top: 0;
    background: black;
    > ul {
    }
  }
  > .list-bottom {
    position: sticky;
    bottom: 0;
    background: black;
  }
}
