#image {
  width: 100%;
  height: 100%;
  position: relative;
  > img {
    position: absolute;
  }
  &[data-edited-number]::after {
    content: attr(data-edited-number);
    position: absolute;
    bottom: 20px;
    left: 20px;
    z-index: 2;
  }
}

#image-list.full {
  display: flex;
  flex-direction: column;
  > .list-group {
    margin-bottom: 20px;
    > .list-group-files {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      gap: 10px;
    }
  }
  .thumbnail.edited {
    border: 3px solid yellow;
  }
}
