:root {
  --bar-height: 30px;
}

.video-player {
  position: relative;
  > video {
    width: 100%;
  }
  > .vp-play {
    position: absolute;
    top: 5px;
    left: 5px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: dimgray;
    font-size: 20px;
    width: 50px;
    height: 50px;
  }
  > .vp-color {
    top: 5px;
    right: 5px;
    position: absolute;
    font-family: monospace;
    opacity: 0;
    &:hover {
      opacity: 1;
    }
  }
  > .vp-control {
    opacity: 0;
    &:hover {
      opacity: 1;
    }
    height: var(--bar-height);
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: stretch;
    > .vp-time-bar {
      width: 100%;
      background-color: dimgray;
      appearance: none;
      &::-webkit-slider-thumb {
        appearance: none;
        border: 2px solid #fff;
        outline: 2px solid #000;
        width: 3px;
        height: var(--bar-height);
      }
    }
    > .vp-side {
      display: flex;
      align-items: center;
      > .vp-volume {
        width: 100%;
      }
    }
  }
}
