.video-player {
  position: relative;
  > video {
    width: 100%;
  }
  > .vp-play {
    position: absolute;
    top: 5px;
    left: 5px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: dimgray;
    font-size: 20px;
    width: 50px;
    height: 50px;
  }
  > .vp-color {
    top: 5px;
    right: 5px;
    position: absolute;
    font-family: monospace;
    opacity: 0;
    &:hover {
      opacity: 1;
    }
  }
  > .vp-control {
    opacity: 0;
    &:hover {
      opacity: 1;
    }
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    > .vp-timebar-container {
      position: relative;
      > .vp-timebar {
        width: 100%;
        margin: 0;
        background-color: dimgray;
        appearance: none;
        &::-webkit-slider-thumb {
          appearance: none;
          outline: 2px solid #000;
          background-color: yellow;
          width: 3px;
          height: 10px;
        }
        &:hover + .vp-preview {
          display: block;
        }
      }
      > .vp-preview {
        position: absolute;
        bottom: 100%;
        display: none;
        > video {
          display: block;
          position: relative;
          left: -50%;
          border: 2px solid black;
          text-align: center;
        }
        > span {
          background: black;
          position: relative;
          left: -50%;
          display: table;
        }
      }
    }
    > .vp-buttons-container {
      display: flex;
      justify-content: space-between;
      // > .vp-buttons-side-container {

      // }
      > .vp-volume {
        width: 100%;
      }
    }
  }
  .vp-time {
    font-family: monospace;
    font-size: large;
  }
}
